flows.json
[
    {
        "id": "da4824d9d2cc87dc",
        "type": "tab",
        "label": "web-echo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "274f12c186e14c53",
        "type": "http in",
        "z": "da4824d9d2cc87dc",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "ea841d5eb41bebf1"
            ]
        ]
    },
    {
        "id": "ea841d5eb41bebf1",
        "type": "function",
        "z": "da4824d9d2cc87dc",
        "name": "echo",
        "func": "msg.payload = {\n    \"location\": msg.payload.location,\n    \"macAddress\": msg.payload.macAddress,\n    \"power\": msg.payload.power,\n    \"timeStamp\": msg.payload.timeStamp\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "3c28c194190ae40c"
            ]
        ]
    },
    {
        "id": "3c28c194190ae40c",
        "type": "json",
        "z": "da4824d9d2cc87dc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "05657e1720328264"
            ]
        ]
    },
    {
        "id": "05657e1720328264",
        "type": "http response",
        "z": "da4824d9d2cc87dc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 120,
        "wires": []
    }
]